<div class="topgreen-screen  z-0 position-absolute">
    <div>
    </div>
</div>
<div class="glass-card ">
    <div class="screen-container  screen-2 active" id="screen2">
        <div class="main-header-content">
            <a onclick="goBack(event, '/Register3')" class="back-arrow material-icons"><i class="fa-solid fa-chevron-left"></i></a>
            <span class="header-title"><h5>Completed!</h5></span>
        </div>
        <div class="progress-section animate-slide-up" style="margin-bottom: 40px">
            <div class="progress-text">Step 4/4</div>
            <div class="progress-bar-custom">
                <div class="progress-bar-fill" style="width: 100%;"></div>
            </div>
        </div>

        <div class="done-message animate-slide-up">
            You are done !
        </div>

        <button class="btn  btn-success border-0 w-100 p-3  mt-auto animate-slide-up" onclick="submitForm(event)"> Submit</button>
    </div>
</div>

<script type="module" >
    import $ from 'jquery';

    // Fonction pour basculer la visibilité du mot de passe
    import {router} from "/src/js/app/router.js";

    function submitForm(event) {
        event.preventDefault();


        history.pushState(null, '', '/Login');
        router(); // passe à l’étape suivante
    }
    function goBack(event, url){
        event.preventDefault();

        history.pushState(null, '', url);
        router();
    }
    window.submitForm = submitForm;
    window.goBack = goBack;
</script>