<div class="topgreen-screen  z-0 position-absolute">
    <div>
    </div>
</div>
<div class="glass-card " >
    <div class="phone-mockup"  style="margin-top: 10px">
        <form class="screen-container  screen-1 active" id="screen1">
            <div class="main-header-content">
                <a onclick="goBack(event, '/Register2')" class="back-arrow material-icons"><i class="fa-solid fa-chevron-left"></i></a>
                <span class="header-title"><h5>Fill your physical informations</h5></span>
            </div>
            <div class="progress-section animate-slide-up" style="margin-bottom: 40px">
                <div class="progress-text">Step 3/4</div>
                <div class="progress-bar-custom">
                    <div class="progress-bar-fill" style="width: 75%;"></div>
                </div>
            </div>

            <div class="form-group animate-slide-up">
                <label for="weight" class="form-label">Weight</label>
                <select class="form-select" style="height: 45px" id="weight">
                    <option value="71kg" selected>71 kg</option>
                    <option value="70kg">70 kg</option>
                    <option value="72kg">72 kg</option>
                </select>
            </div>

            <div class="form-group animate-slide-up">
                <label for="size" class="form-label">Size</label>
                <select class="form-select" style="height: 45px" id="size">
                    <option value="1.75m" selected>1.75 m</option>
                    <option value="1.70m">1.70 m</option>
                    <option value="1.80m">1.80 m</option>
                </select>
            </div>

            <div class="form-group animate-slide-up">
                <label class="form-label">Cardiac antecedents</label>
                <div class="d-flex justify-content-around">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cardiacAntecedents" id="cardiacNo" checked>
                        <label class="form-check-label" for="cardiacNo">
                            No
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cardiacAntecedents" id="cardiacYes">
                        <label class="form-check-label" for="cardiacYes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cardiacAntecedents" id="cardiacOthers">
                        <label class="form-check-label" for="cardiacOthers">
                            Others
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group animate-slide-up">
                <label for="commonDisease" class="form-label">Common disease</label>
                <input type="text" class="form-control" style="height: 45px" id="commonDisease" placeholder="Malaria" value="Malaria">
            </div>

            <div class="form-group animate-slide-up">
                <label for="familyDisease" class="form-label">Family disease</label>
                <input type="text" class="form-control" style="height: 45px" id="familyDisease" placeholder="Diabetes" value="Diabetes">
            </div>

            <button class="btn  btn-success border-0 w-100 p-3  mt-auto animate-slide-up" onclick="submitForm(event)" >Continue</button>
        </form>
    </div>

</div>

<script type="module" >
    import $ from 'jquery';

    // Fonction pour basculer la visibilité du mot de passe
    import {router} from "/src/js/app/router.js";

    function submitForm(event) {
        event.preventDefault();

        const weight = $('#weight').val();
        const size = $('#size').val();
        const commonDisease = $('#commonDisease').val();
        const familyDisease = $('#familyDisease').val();
        const cardiacAntecedents = $('#cardiacAntecedents').is(':checked');

        let signupData = JSON.parse(localStorage.getItem("signupData")) || {};
        signupData = {
            ...signupData,
            weight,
            size,
            commonDisease,
            familyDisease,
            cardiacAntecedents
        };

        localStorage.setItem("signupData", JSON.stringify(signupData));
        history.pushState(null, '', '/Register4');
        router(); // passe à l’étape suivante
    }
    function goBack(event, url){
        event.preventDefault();

        history.pushState(null, '', url);
        router();
    }
    window.submitForm = submitForm;
    window.goBack = goBack;
</script>

