
<div class="topgreen-screen z-0 position-absolute">
    <div></div>
</div>

<div class="glass-card">
    <div class="main-header-content">
        <a href="/Register1" class="back-arrow material-icons" ><i class="fa-solid fa-chevron-left"></i></a>
        <span class="header-title"><h5>Login as a patient</h5></span>
    </div>
    <div class="progress-section" style="margin-bottom: 30px">
        <div class="progress-text">Step 2/4</div>
        <div class="progress-bar-custom">
            <div class="progress-bar-fill" style="width: 50%;"></div>
        </div>
    </div>
    <form method="post" class="animate-slide-up">
    <div class="scrollable-content">
        <div class="form-group">
            <label for="country" class="form-label">Country of residence</label>
            <select class="form-select" id="country">
                <option value="Cameroon" selected>Cameroon</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
            </select>
        </div>

        <div class="form-group">
            <label for="city" class="form-label">City</label>
            <select class="form-select" id="city">
                <option value="Douala" selected>Douala</option>
                <option value="Yaounde">Yaounde</option>
                <option value="Bafoussam">Bafoussam</option>
            </select>
        </div>

        <div class="form-group">
            <label for="neighborhood" class="form-label">Neighborhood</label>
            <input type="text" class="form-control" id="neighborhood" value="Pk 12 Douala Bassa">
        </div>

        <div class="form-group">
            <label for="language" class="form-label">Spoken language</label>
            <select class="form-select" id="language">
                <option value="French" selected>French</option>
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
            </select>
        </div>
    </div>
        <button class="btn btn-primary mt-auto" onclick="submitForm(event)">Continue</button></form>
</div>


<script type="module" >
    import $ from 'jquery';

    // Fonction pour basculer la visibilité du mot de passe
    import {router} from "/src/js/app/router.js";

    function submitForm(event) {
        event.preventDefault();

        const country = $('#country').val();
        const city = $('#city').val();
        const neighborhood = $('#neighborhood').val();
        const language = $('#language').val();

        let signupData = JSON.parse(localStorage.getItem("signupData")) || {};
        signupData = {
            ...signupData,
            country,
            city,
            neighborhood,
            language
        };

        localStorage.setItem("signupData", JSON.stringify(signupData));
        history.pushState(null, '', '/Register3');
        router(); // passe à l’étape suivante
    }
    window.submitForm = submitForm;
</script>
