<section class="section-slide">
        <aside>
            <div class="topgreen-screen">
                <div>
                </div>
            </div>
            <div class="main-screen">
                <div class="img-screen">
                    <img src="images/images medecins/docta (5).jpg" alt="">
                </div>
                <div class="rest">
                    <h1>Easy Appointments</h1>
                    <p>Tired of waiting hours to get an appointment with the right medical staff you need in any hospital or medical center.</p>
                
                    <div class="buttons">
                        <button class="start"> Get Started</button>
                        <a href="/Login"><button class="skip"> Skip</button></a>
                        <div class="dots">
                            <span></span>
                            <span></span>
                            <span class="activa"></span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    <script type="module">
        import { loadPage } from '/src/js/app/router.js';

        document.querySelector('.start')?.addEventListener('click', () => {
            // window.location.hash = 'Login';
            loadPage('forward', 2);

            // location.reload();

        });
    </script>

</section>