<section class="section-slide">
        <aside>
            <div class="topgreen-screen">
                <div>
                </div>
            </div>
            <div class="main-screen">
                <div class="img-screen">
                    <img src="images/images medecins/docta (5).jpg" alt="">
                </div>
                <div class="rest">
                    <h1>Easy Appointments</h1>
                    <p>Tired of waiting hours to get an appointment with the right medical staff you need in any hospital or medical center.</p>
                
                    <div class="buttons">
                        <button class="start"  onclick="submitForm(event)"> Get Started</button>
                        <a href="/Login"><button class="skip"> Skip</button></a>
                        <div class="dots">
                            <span></span>
                            <span></span>
                            <span class="activa"></span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    <script type="module" >
        import $ from 'jquery';

        // Fonction pour basculer la visibilité du mot de passe
        import {router} from "/src/js/app/router.js";

        function submitForm(event) {
            event.preventDefault();


            history.pushState(null, '', '/Login');
            router(); // passe à l’étape suivante
        }
        window.submitForm = submitForm;
    </script>

</section>