<div class="topgreen-screen  z-0">
    <div>
    </div>
</div>
<div class="glass-card text-center" style="margin-top: -44vh;">
    <h1 class="title">Join us to start searching</h1>
    <p class="description">You can search course, apply course and find the right treatment for your sickness.</p>

    <div class="social-buttons">
        <a href="#" class="social-btn border-0">
            <img src="https://img.icons8.com/color/16/google-logo.png" alt="Google">
            Google
        </a>
        <a href="#" class="social-btn border-0">
            <img src="https://img.icons8.com/ios-filled/16/3b5998/facebook-new.png" alt="Facebook">
            Facebook
        </a>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group password-input-group">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <span class="material-icons toggle-password" onclick="togglePasswordVisibility('password')">👁</span>
    </div>

    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="termsAgree">
        <label class="form-check-label" for="termsAgree">
            I agree with the <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>
        </label>
    </div>

    <button class="btn btn-primary border-0">Sign up</button>

    <div class="login-link">
        Have an account? <a href="#">Log in</a>
    </div>
</div>
</div>
