<div class="topgreen-screen  z-0">
    <div>
    </div>
</div>
<div class="glass-card " style="margin-top: -44vh;">
    <div class="screen-container screen-2 active" id="screen2">
        <div class="main-header-content">
            <a href="#" class="back-arrow material-icons"><i class="fa-solid fa-chevron-left"></i></a>
            <span class="header-title"><h5>Completed!</h5>
        </div>
        <div class="progress-section" style="margin-bottom: 60px">
            <div class="progress-text">Step 4/4</div>
            <div class="progress-bar-custom">
                <div class="progress-bar-fill" style="width: 100%;"></div>
            </div>
        </div>

        <div class="done-message">
            You are done !
        </div>

        <button class="btn btn-primary mt-auto">Submit</button>
    </div>
</div>
