<div class="topgreen-screen  z-0">
    <div>
    </div>
</div>
<div class="glass-card " style="margin-top: -44vh;">
    <div class="main-header-content">
        <a href="#" class="back-arrow material-icons"><i class="fa-solid fa-chevron-left"></i></a>
        <span class="header-title">Login as a patient</span>
    </div>
    <div class="progress-section" style="margin-bottom: 60px">
        <div class="progress-text">Step 1/4</div>
        <div class="progress-bar-custom">
            <div class="progress-bar-fill" style="width: 25%;"></div>
        </div>
    </div>

    <div class="scrollable-content">


        <div class="form-group ">
            <label class="form-label">Age</label>
            <div class="age-selects">
                <select class="form-select" id="ageDay">
                    <option value="">Day</option>
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                </select>
                <select class="form-select" id="ageMonth">
                    <option value="">Month</option>
                    <option value="Jan">Jan</option>
                    <option value="Feb" selected>Feb</option>
                </select>
                <select class="form-select" id="ageYear">
                    <option value="">Year</option>
                    <option value="1990" selected>1990</option>
                    <option value="1991">1991</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Gender</label>
            <div class="d-flex gap-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="genderMale" checked>
                    <label class="form-check-label" for="genderMale">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="genderFemale">
                    <label class="form-check-label" for="genderFemale">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="genderOthers">
                    <label class="form-check-label" for="genderOthers">
                        Others
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="mobileNumber" value="+237 699887755">
        </div>

        <div class="form-group">
            <label for="patientEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="patientEmail" value="bilonggeorges@gmail.com">
        </div>
    </div> <button class="btn btn-primary mt-auto">Continue</button>
</div>
</div>
