<section>
        <aside>
            <div class="topgreen-screen">
                <div>
                </div>
            </div>
            <div class="main-screen">
                <div class="img-screen">
                    <img src="images/images medecins/docta (5).jpg" alt="">
                </div>
                <div class="rest">
                    <h1>Easy Appointments</h1>
                    <p>Tired of waiting hours to get an appointment with the right medical staff you need in any hospital or medical center.</p>
                
                    <div class="buttons">
                        <button class="start"> Get Started</button>
                        <button class="skip">Skip</button>
                        <div class="dots">
                            <span></span>
                            <span></span>
                            <span class="activa"></span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    <script type="module">
        import { loadPage } from '/src/js/router.js';

        document.querySelector('.start')?.addEventListener('click', () => {
            console.log("djif")
            const current = window.location.hash.slice(1);
            const slides = ['slide1', 'slide2', 'slide3'];
            const currentIndex = slides.indexOf(current);
            const nextSlide = slides[currentIndex + 1] || 'slide3';
            window.location.hash = nextSlide;
            loadPage('forward');
            location.reload();

        });
    </script>

</section>